body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #0e03b4 0%, #0F8A5F 100%);
    overflow: hidden;
    color: white;
    font-family: 'Inter';
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(174, 62, 6, 0.13), transparent),
        radial-gradient(circle at 20% 80%, rgba(255, 41, 241, 0.13), transparent);
    margin: 0;
    background-image: url(5.png);
    background-repeat: no-repeat;
}
}

form {
    text-align: left;
    color: rgba(234, 230, 242, 0.979);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

input {
    background-color: #9dbadb;
    opacity: .3;
}

input:hover,
input:focus {
    opacity: 1;
}

select {
    background-color: #9dbadb;
    opacity: .3;
}

select:hover,
select:focus {
    opacity: 1;
}

textarea {
    width: 80%;
    margin: 5px 20px;
    background: #4a89d1;
    opacity: .3;
}

textarea:hover {
    opacity: 1;
}

input[type=text]:focus {
    background-color: rgb(138, 82, 211);
    outline: none;
}

input[type=password]:focus {
    background-color: rgb(51, 138, 80);
    outline: none;
}

div {
    padding: 10px 0;
}

hr {
    border: 1px solid #8fb9b2;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #cc3a5f;
    color: white;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: .5;
}

.registerbtn:hover {
    opacity: .9;
}